//Colors
$white: #fff;
$branco: #fff;
$black: #2b2b2b;
$azul: #55489d;
$salmao: #f37053;
$cinza: #414042;
$verde: #27bdbe;
$verdemedio: #ff8100;
$verde-escuro: #ff8100;
$azulclaro: #ff8100;
$azulescuro: #ff8100;
$azulmedio: #ff8100;
$azulim: #ff8100;
$laranja: #F58436;
$roxa: #55489d;
$amarelo: #ffa500;
$laranjaclaro: #ff8100;
$transparente: transparent;
$cinza2: #414042;